.login-container {
  background-color: #fff;
  overflow: hidden;
}

.login-content {
  display: flex;
  gap: 20px;
  min-height: 100vh;
}

.image-column, .form-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}

.image-wrapper {
  position: relative;
  min-height: 100vh;
  flex-grow: 1;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: relative;
  background-color: rgba(77, 87, 104, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 80px;
}


.logo {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin-bottom: -48px;
}



.form-wrapper {
  background-color: #f4f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  width: 100%;
  height: 100vh;
}



.login-form {
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  display: flex;
  width: 765px;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 109px 80px;
}

.form-content {
  width: 432px;
  max-width: 100%;
  flex-direction: column;
  margin: 0;
}

.login-title {
  color: #ffb200;
  text-align: center;
  font: 700 96px Readex Pro, sans-serif;
}

.welcome-text {
  color: #525252;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center; /* Center the text */
}

.input-wrapper {
  border-radius: 16px;
  background-color: rgba(240, 237, 255, 0.8);
  display: flex;
  margin-top: 40px;
  gap: 12px;
  padding: 20px 26px;
}

.input-icon {
  width: 19px;
}

.input-field {
  flex-grow: 1;
}

.forgot-password {
  color: #525252;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-button {
  all: unset;
  display: block;
  text-align: center;
  width: 100%;
  background-color: #0049b1;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 25px;
  margin-top: 20px;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.signup-image {
  width: 305px;
  max-width: 100%;
}

.signup-text {
  color: #525252;
  font-size: 14px;
  margin-top: 20px;
}

.signup-link {
  font-weight: 600;
  color: #ffb200;
}
