* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Readex_Pro;
}

body {
    overflow-x: hidden;

}
@font-face {
    font-family: Readex_Pro;
    src: url('../fonts/font-families/Readex_Pro/ReadexPro-Regular.ttf');
  }

/* Header */
header {
    display: flex;
    justify-content: space-between; /* Space between the logo and profile */
    align-items: center; /* Center items vertically */
    background-color: white;
    padding: 0.1vw;
    /* padding-right: 3vw; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000; 
    height: 4vw; 
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 0.8vw;
    font-size: 1.2vw;
}

header span {
    margin-left: 0.2vw; 
}

header img.slu-logo {
    height: 50px;
    width: auto; 
    margin-right: 10px;
}

.header-separator {
    position: relative;
    background-color: #003DA5;
    padding-bottom: 2vw;
    width: 100%;
    margin-top: -1vh;
    z-index: 101;
    /* margin-bottom: 0.5vh; */
}

.notif-bell {
    margin-right: 10px; /* Adjust the value as needed */
}

.profile-pic {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-right: 0.8rem;
    display: inline-block; /* Ensure the image is displayed as a block */
    border: 1px solid #ccc; /* Add a border to visualize it */
}

.header-profile {
    display: flex;
    /* flex-direction: column;  */
    align-items: center; /* Align items to the left */
}

.header-profile i {
    margin-right: 1vw;
}

.header-profile .user-name {
    margin: 0; /* Reset any default margin */
    font-size: small;
}

.header-profile .account-type {
    margin: 0;
    margin-top: 0.2rem; /* Optional: space between user name and account type */
    font-size: 0.9rem; /* Adjust font size if needed */
    color: gray; /* Optional: Change the text color */
    display: block; /* Ensure account type appears below username */
    font-size: small;
}

.account-details {
    display: flex; /* Enable flexbox for the details */
    flex-direction: column; /* Stack username and account type vertically */
    align-items: left; /* Align items to the left */
}

/* Side Navigation Bar */
.sidebar-container {
    background: rgba(244, 244, 244, 1);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    /* top: 3vw;  */
    bottom: 0;
    height: 100%;
    width: 250px;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100; 
}

.sidebar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
}

.sidebar-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
}

.sidebar-menu li {
    display: block;
    margin-top: 10px; 
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #999;
    text-decoration: none;
    /* transition: background-color 0.2s ease, color 0.2s ease; */
}

.sidebar-menu li a {
    min-width: 60px;
    text-align: center;
}

.sidebar-menu li a .menu-item-text {
    flex: 1;
    font-size: 1.9vh;
    color: #000;
}

/* Sidebar Icon */
.sidebar-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 20px; 
    margin-left: 5px;
}

/* Hover effect on sidebar items */
/* .sidebar-menu li:hover a {
    color: #fff;
    background-color: rgba(0, 61, 165, 0.4);
} */

/* Sticky Log Out Section */
.sidebar-logout {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 3px;
}

.sidebar-logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%; 
    padding: 10px; 
    /* transition: background-color 0.2s ease, color 0.2s ease; */
}

/* .sidebar-logout a:hover {
    background-color:rgba(255, 178, 0, 1);;
} */

.menu-item-logout {
    color: black;
    font-size: 1.9vh;  
    flex: 1;
    font-weight: bold;
}

/* User Content Table */
.user-content {
    width: 100%;
    position: relative; 
    left: 10px; 
    padding: 10px;
    transition: left 0.3s ease; 
    z-index: 0; 
    margin-left: 250px;
}

.user-content h1 {
    margin-top: 2vw;
    margin-bottom: 10px;
    color:#003DA5;
    font-size: 3vh;
}

.user-table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #f4f4f4;
    color: #333;
}

.user-table td {
    font-size: 16px;
}

/* Side navigation bar */
.sidenav {
    position: fixed;
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333;
    transition: width 0.3s ease;
}

/* When sidenav is hovered */
.sidenav:hover + .user-content {
    left: 0; /* Move content to the right */
}

.user-content.shift-right {
    left: 0; /* Move back to normal position (right) */
}

/* Style for the user name and profile pic */
.user-name {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 45%;
    margin-right: 10px;
}

.profile-pic {
    object-fit: cover; /* Keeps the image not stretched */
}

/* Search bar input */
.search input[type="text"] {
    position: absolute;
    right: 70px;
    top: 13.1%;
    /* transform: translateY(-100%); */
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 200px;
}

.search .search-icon {
    position: absolute;
    right: 75px;
    top: 13.5%;
    /* transform: translateY(-50%); */
    width: 25px;
    cursor: pointer;
}

.search .search-icon:hover {
    opacity: 0.7;
}

/* Style for dropdowns inside table headers */
.filter-dropdown {
    display: inline-block;
    position: relative;
}

.filter-dropdown select {
    padding-right: 30px; /* Space for the dropdown icon */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
}

/* Dropdown arrow icon */
.filter-dropdown::after {
    content: '\25BC'; /* Downward arrow */
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Remove default arrow */
select {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

th {
    vertical-align: middle;
}

/* Styling for the sorting arrow */
.sort-icon {
    cursor: pointer;
    padding-left: 10px;
}

.sort-icon.asc::after {
    content: '\25B2'; /* Up arrow */
}

.sort-icon.desc::after {
    content: '\25BC'; /* Down arrow */
}

/* Centering the Graduation Year and Job Status columns */
.user-table th:nth-child(4), /* Targeting the Graduation Year header */
.user-table td:nth-child(4), /* Targeting the Graduation Year table cells */
.user-table th:nth-child(5), /* Job Status */
.user-table td:nth-child(5) { /* Job Status cells */
    padding: 20px; /* Adjust padding to add more space */
}

.action-icon {
    width: 30px; /* Set icon width */
    height: 30px; /* Set icon height */
}


.edit-button,
.delete-button {
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    margin: 0 5px; /* Spacing between buttons */
}


#addUserButton {
    padding: 6.5px 12px;
    margin-right: 20px; /* Space between the buttons */
    /* margin-top: 2px; Add top margin */
    background-color: #1100ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

/* Button container */
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 13.2%; /* Same top value as the search bar */
    right: 320px; /* Move the buttons slightly to the left */
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Space between dropdowns */
}

.dropdown button {
    padding: 6px 12px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Confirmation Modal Styles */
.confirm-modal, .feedback-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.confirm-modal-content,.feedback-modal-content {
    width: 380px; 
    max-width: 50%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    flex-direction: column; 
    align-items: center; 
    background-color: #fff; 
    color: #000; 
    text-align: center; 
    border-radius: 20px; 
    padding: 30px 30px 30px; 
}

.confirm-modal img, .feedback-modal img {
    width: 35%;
    margin-bottom: 15px;
  }

.confirm-modal p,.feedback-modal p  {
    margin-bottom: 20px;
    font-size: 20px;
}

.confirm-yes, .confirm-no {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
}

.confirm-yes {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 18px -5px rgb(8, 7, 7);
   
}

.confirm-no {
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 18px -5px rgb(8, 7, 7);
}

#closeFeedback{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #003DA5;
}



/* Media query for screens between 769px and 1300px */
@media only screen and (min-width: 769px) and (max-width: 1300px) {
    /* General adjustments */
    body {
        width: 100%;
    }

    /* Header Section */
    header {
        padding: 1vw;
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 4vw;
        margin-left: 1vw;
    }

    header img {
        height: 7vw;
        width: 9vw;
    }

    .header-seperator {
        padding-bottom: 2vw;
        margin-top: 1vw;
    }

    /* Side Navigation Bar */
    .sidebar-container {
        width: 60px;
        margin-top: 12.5vw;
    }

    .sidebar-container:hover {
        width: 220px;
    }

    .sidebar-menu li a .menu-item-text {
        font-size: 2vh;
    }

    .sidebar-logout {
        bottom: 10vh;
    }

    /* User Request Table */
    .user-content {
        left: 70px;
        padding: 15px;
        width: calc(100% - 70px); /* Ensure the content fits smaller screens */
    }

    .sidebar-container:hover ~ .user-content {
        left: 250px;
    }

    .user-content h1 {
        font-size: 4vh;
        margin-top: 10%;
    }

    .user-table {
        width: 80%; 
        font-size: 15px; 
        overflow-x: auto; 
    }

    .user-table th, .user-table td {
        padding: 10px;
        text-align: center; 
    }

    .user-table .btn-accept, .user-table .btn-decline {
        padding: 8px 12px; 
    }

    /* Search bar input */
    .search input[type="text"] {
        width: 160px; /* Adjust input width */
        right: 30px; /* Adjust search bar position */
        top: 10%;
        padding: 5px;
    }

    .search .search-icon {
        right: 30px;
        top: 10%;
        width: 25px;
    }

    /* Button container and dropdown */
    .button-container {
        display: flex;
        justify-content: flex-end; /* Align buttons to the right */
        margin-top: 0px; /* Add space above the buttons */
        margin-right: 30px; /* Adjust right margin for positioning */
    }

    .dropdown {
        margin-right: 10px;
    }

    .dropdown button {
        padding: 6px 12px;
    }

    .dropdown-content {
        min-width: 160px;
    }
}
