* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Readex_Pro;
}

@font-face {
    font-family: Readex_Pro;
    src: url('../fonts/font-families/Readex_Pro/ReadexPro-Regular.ttf');
}

/* Header */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    padding: 0.1vw;
    /* padding-right: 3vw; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000; 
    height: 4vw; 
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 0.8vw;
    font-size: 1.2vw;
}

header span {
    margin-left: 0.2vw; 
}

header img.slu-logo {
    height: 50px;
    width: auto; 
    margin-right: 10px;
}

.header-separator {
    background-color: #003DA5;
    padding-bottom: 2vw;
    width: 100%;
    margin-top: -1vh;
    /* margin-bottom: 0.5vh; */
}

.notif-bell {
    margin-right: 10px; 
}

.profile-pic {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-right: 0.8rem;
    display: inline-block; 
    border: 1px solid #ccc; 
}

.header-profile {
    display: flex;
    /* flex-direction: column;  */
    align-items: center; 
}

.header-profile i {
    margin-right: 1vw;
}

.header-profile .user-name {
    margin: 0; 
    font-size: small;
}

.header-profile .account-type {
    margin: 0;
    margin-top: 0.2rem; 
    font-size: 0.9rem; 
    color: gray; 
    display: block; 
    font-size: small;
}

.account-details {
    display: flex; 
    flex-direction: column; 
    align-items: left; 
}

/* Side Navigation Bar */
.sidebar-container {
    background: rgba(244, 244, 244, 1);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 3.9vw; 
    bottom: 0;
    height: 100%;
    width: 60px;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100; 
}

.sidebar-container {
    width: 250px; 
}

.user-content {
    position: relative; 
    left: 70px; 
    padding: 20px;
    transition: left 0.3s ease; 
    z-index: 0; 
}

.sidebar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.sidebar-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
}

.sidebar-menu li {
    display: block;
    margin-top: 10px; 
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #999;
    text-decoration: none;
    /* transition: background-color 0.2s ease, color 0.2s ease; */
}

.sidebar-menu li a {
    min-width: 60px;
    text-align: center;
}

.sidebar-menu li a .menu-item-text {
    flex: 1;
    font-size: 1.9vh;
    color: #000;
}

/* Sidebar Icon */
.sidebar-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 20px; 
    margin-left: 5px;
}


/* Sticky Log Out Section */
.sidebar-logout {
    position: absolute;
    bottom: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 10px;
}

.sidebar-logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%; 
    padding: 10px; 
    /* transition: background-color 0.2s ease, color 0.2s ease; */
}


.menu-item-logout {
    color: black;
    font-size: 1.9vh;  
    flex: 1;
    font-weight: bold;
}


.menu-item-logout {
    color: black;
    font-size: 1.9vh;  
    flex: 1;
    font-weight: bold;
}

/* Main Content */
.main-content {
    margin-left: 15rem;
    padding: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 0.7fr);
}

.first-name-grid input, .last-name-grid input, .middle-name-grid input, .email-add-grid input, .password-grid input,
.retype-pw-grid input, .id-grid input, .gradyear-grid input, .company-grid input{
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 2rem);
}

.middle-name-grid {
    grid-column-start: 1;
    grid-row-start: 2;
}

.middle-name-grid span {
    font-size: small;
    color: gray;
}

.last-name-grid {
    grid-column-start: 1;
    grid-row-start: 3;
}

.email-add-grid {
    grid-column-start: 1;
    grid-row-start: 4;
}

.password-grid {
    grid-column-start: 1;
    grid-row-start: 5;
}

.retype-pw-grid {
    grid-column-start: 1;
    grid-row-start: 6;
}
.user-roles-grid {
    grid-column-start: 1;
    grid-row-start: 8;
}
.id-grid {
    grid-column-start: 2;
    grid-row-start: 1;
}
.gradyear-grid {
    grid-column-start: 2;
    grid-row-start: 2;
}
.school-grid {
    grid-column-start: 2;
    grid-row-start: 3;
}
.program-grid {
    grid-column-start: 2;
    grid-row-start: 4;
}
.jobstatus-grid {
    grid-column-start: 2;
    grid-row-start: 5;
}
.company-grid {
    grid-column-start: 2;
    grid-row-start: 6;
}


.sidebar-container:hover ~ .main-content {
    margin-left: 250px;
}

/* Form Container */
.form-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}
.form-container > form {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

/* Header Title */
.form-container .form-title {
    grid-column: span 2; 
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #0056b3; 
    margin-bottom: 20px;
}

/* Section Titles */
.section-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #0056b3; 
    margin-bottom: 10px;
}
.info-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.info-titles > * {
    padding: 1rem;
}


.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

/*Form Input Groups
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}



.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Reduce the gap between fields 
    flex-wrap: wrap;*/ /* Allow wrapping on smaller screens 
}

.form-group#first-name input {
    width: 35%; 
}

.form-group#last-name input {
    width: 35%;
    margin-left: -280px;
}

.form-group#last-name label {
    margin-left: -280px;
}

.form-group#email input  {
    width: 17%;
}

.form-group#school-id input {
    width: 55%; 
}

.form-group#graduation-year select {
    width: 60%; 
    margin-left: -90px;
}

.form-group#graduation-year label {
    margin-left: -90px;
}

.form-group#degree select {
    width: 110%; 
    margin-left: -185px;
}

.form-group#degree label {
    margin-left: -185px;
}

.form-group#job-status select {
    width: 50%; 
    margin-left: -90px;
}

.form-group#job-status label {
    margin-left: -90px;
}

.form-group#user-roles select {
    width: 15%; 
}

.form-group.password input {
    width: 17%; 
}*/


/* Action buttons */
.form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-right: 20px;
    grid-column-start: 2;
    grid-row-start: 8;
}

.add-button,
.clear-button {
    padding: 12px 25px;
    height: calc(100% - 2rem);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Add Button */
.add-button {
    background-color: #003DA5; 
    color: #fff;
}

.add-button:hover {
    background-color:#00276a;
    transform: scale(1.05);
}

/* Clear Button */
.clear-button {
    background-color: #7b7b7b; 
    color: #fff;
}

.clear-button:hover {
    background-color: #676767;
    transform: scale(1.05);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  .modal-content {
    width: 320px; 
    max-width: 90%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    flex-direction: column; 
    align-items: center; 
    background-color: #fff; 
    color: #000; 
    text-align: center; 
    border-radius: 20px; 
    padding: 30px 30px 70px; 
  }
  
  .modal img {
    width: 82px;
    margin-bottom: 15px;
  }
  .modal p {
    margin-bottom: 40px;
    font-size: 18px;
  }
  button.accept {
    background-color: #003DA5;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: #000;
    box-shadow: 0px 6px 18px -5px rgb(8, 7, 7);
  }
  

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr; 
    }

    .form-actions {
        grid-column: span 1;
        justify-content: center; 
    }
}
