* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 1.2vw;
    font-size: 1.4vw;
}

header span {
    margin-left: 0.3vw;
}

header img.slu-logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.header-separator {
    background-color: #003DA5;
    padding-bottom: 2vw;
    width: 100%;
    margin-top: -1vh;
    margin-bottom: 0.5vh;
}

/* Sidebar */
.sidebar-container {
    background: rgba(244, 244, 244, 1);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 60px;
    margin-top: 8.5vh;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.sidebar-container:hover {
    width: 250px;
}

.sidebar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
}

.sidebar-menu li {
    display: block;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #999;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-menu li a .menu-item-text {
    flex: 1;
    font-size: 1.9vh;
    color: #000;
}

.sidebar-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 5px;
}

.sidebar-menu li:hover a {
    color: #fff;
    background-color: rgba(0, 61, 165, 0.4);
}

.sidebar-logout {
    position: absolute;
    bottom: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.sidebar-logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-logout a:hover {
    background-color: rgba(255, 178, 0, 1);
}

.menu-item-logout {
    color: black;
    font-size: 1.9vh;
    flex: 1;
    font-weight: bold;
}

/* Main content */
.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar-container:hover ~ .main-content {
    margin-left: 250px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2.form-title, h3.section-title {
    color: #003DA5;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
    margin-right: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.clear-button, .add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.clear-button {
    background-color: #3498db;
    color: #fff;
    margin-right: 10px;
}

.add-button {
    background-color: #f39c12;
    color: #fff;
}
