* {
  margin: 0;
  padding: 0;
  font-family: Readex_Pro;
}

@font-face {
    font-family: Readex_Pro;
    src: url('../fonts/font-families/Readex_Pro/ReadexPro-Regular.ttf');
  }

html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  transform: translateY(300px);
  transition: all 1s ease-in;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-seperator {
  background-color: #003DA5;
  padding-bottom: 2vw;
  width: 100%;
  margin-top: -1vh;
  margin-bottom: 0.5vh;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly off-white */
  padding: 0.3vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  transition: top 0.1s ease;
}

header h1 {
  display: flex;
  align-items: center;
  margin-left: 1.2vw;
  font-size: 1.4vw;
}

header span {
  margin-left: 0.3vw;
}

header img {
  height: 50px;
  width: auto; 
}

nav {
  margin-left: 25%;
  margin-top: 0.2%;
}

nav a {
  padding: 0.3vw;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 178, 0, 1);
  text-decoration-thickness: 2.5px;
}

/* Log in button */
.btn-login {
  background-color: #1D4ED8;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 30vw;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.btn-login:hover {
  background-color: #3B82F6;
}

/* Hero section */
.hero {
  position: relative;
  max-width: 100%;
  margin-top: 1vh;
}

.hero img {
  width: 100%;
  height: 800px;
  filter: brightness(50%);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 2;
}

.text-overlay h1 {
  font-size: 5vw;
}

.text-overlay p {
  font-size: 3vw;
  margin-top: 2vh;
}

.slides {
  display: none;
}

.slides:first-of-type {
  display: block;
}

.btn-hero {
  background-color: rgba(255, 178, 0, 1);
  color: white;
  margin-top: 4vw;
  padding: 0.7vw 1vw;
  border-radius: 6px;
}

.btn-hero:hover {
  background-color: #ff8e00;
}

/* Who Are We section */
.whoarewe {
  background-image: url('../images/slubuilding.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;  /* Make the section take up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align the content to the top */
  align-items: center;  /* Horizontally center the content */
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Content heading and paragraph */
.whoarewe .content {
  margin-bottom: 40px;
}

.whoarewe h1 {
  font-size: 4em;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-weight: bold;
  color: rgba(0, 61, 165, 1);
}

.whoarewe p {
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;  /* Center the text */
  color: black;
}

/* Container for the cards */
.card-container {
  display: flex;
  justify-content: center;  /* Center the cards horizontally */
  align-items: flex-start;  /* Align cards to the top of the container */
  width: 80%;
  max-width: 1200px;  /* Maximum width for the cards' container */
  gap: 10vh;
  margin-top: 10vh;
}

/* Individual cards */
.card {
  position: relative;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1 1 300px;  /* Cards grow and shrink but maintain a minimum width of 300px */
  text-align: center;
  min-height: 300px;
  max-width: 360px;
  overflow: hidden;  /* Prevent the image from overflowing */
  z-index: 1;
}

/* Image inside the card */
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /* Make the image take up the full width of the card */
  height: 100%;  /* Ensure the image fills the entire height */
  object-fit: cover; /* Make sure the image covers the entire area without stretching */
  border-radius: 10px;
  z-index: -1;
}

/* Alumni Stories Section */
.alumni-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  margin-top: 60px;
  width: 100%;
}

.alumni-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530%;
  max-width: 1600px;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding-bottom: 30px;
}

.alumni-image {
  width: 55%;
  height: 80%;
  border-radius: 10px;
  margin-top: 2rem;
}

.alumni-messages {
  width: 65%;
  padding-left: 3vw;
}

.alumni-messages h2 {
  font-size: 3em;
  color: #003DA5;
  margin-bottom: 25px;
}

.alumni-messages h4 {
  font-size: 2em;
  color: black;
  margin-bottom: 25px;
}

.alumni-messages p {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 25px;
  font-size: 1.4em;
}

.btn-read-story {
  background-color: rgba(255, 178, 0, 1);
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-read-story:hover {
  background-color: #ff8e00;
}

/* Flexbox Container for Scrollable News, Events & Job Opportunities section */
.news_events_job {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
  height: 70vh;
  margin-top: 20vh;
  gap: 1.5%;
}

/* Scrollable Columns */
.scrollable {
  width: 40%;
  height: 70%;
  overflow-y: scroll;  /* Enable vertical scrolling */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fafafa;
  margin-right: 5px;
}

.scrollable:last-child {
  margin-right: 0; /* Remove margin from the last column */
}

.scrollable h2 {
  text-align: center;
  margin-bottom: 3vh;
  font-size: 2.5em;
  color: rgba(255, 178, 0, 1);
}

.scrollable p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #f0f0f0; /* Softer background */
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: poppins;
}

#footer {
  background: #f7f7f7;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 40px;
  background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}

.logo-footer {
  max-width: 250px;
}

.social-links h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.social-links img {
  padding-bottom: 25px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #777777;
}

.social-icons a {
  color: #777777;
}

.social-icons a:hover {
  color: #000;
}

.social-icons a i {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  color: #0f0782;
  font-size: 16px;
  margin-right: 12px;
}

li {
  list-style: none;
}

.useful-link h2,
.address h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.useful-link img,
.address img {
  padding-bottom: 15px;
}

.use-links,
.address-links {
  line-height: 32px;
  color: #777777;
}

.use-links li i,
.address-links li i {
  font-size: 16px;
  padding-right: 8px;
  color: #0f0782;
}

.use-links li a,
.address-links li a {
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  color: #777777;
}

.use-links li a:hover,
.address-links li a:hover {
  color: #000;
}

.address-links .address1 {
  font-weight: 500;
  font-size: 15px;
  display: flex;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #0f0782;
  color: #fff;
  text-align: center;
}

.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}

/* Footer styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 250px; /* Ensure columns have a minimum width */
  margin-right: 20px; /* Add space between columns */
}

.footer-column:last-child {
  margin-right: 0; /* Remove margin from the last column */
}

.social-icon {
  width: 24px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 8px; /* Space between icon and text */
  vertical-align: middle; /* Aligns the icon vertically with the text */
}
