* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 1.2vw;
    font-size: 1.4vw;
}
header span{
    margin-left: 0.3vw;
}
header img {
    height: 2.5vw; 
    width: 3.2vw; 
}

nav {
    margin-left: 25%;
    margin-top: 0.2%;
}

nav a {
    padding: 0.3vw;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #FBBF24;

}

.btn-login {
    background-color: #1D4ED8; 
    color: white;
    padding: 8px 16px; 
    border-radius: 4px; 
    margin-left: 30vw;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-login:hover {
    background-color: #3B82F6;
}

.hero {
    position: relative;
    max-width: 100%;
    margin-top: 1vh;
}

.hero img {
    width: 100%;
    height: 600px;
    filter: brightness(50%);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 2em; 
    text-align: center; 
    z-index: 2; 
}

.text-overlay h1 {
    font-size: 5vw;
}

.text-overlay p {
    font-size: 3vw;
    margin-top: 2vh;
}

.header-seperator {
    background-color: #003DA5; 
    padding-bottom: 2vw; 
    width: 100%;
    margin-top: -1vh;
    margin-bottom: 0.5vh; 
}

.slides {
    display: none; 
}

.slides:first-of-type {
    display: block;
}

.btn-hero{
    background-color: #FBBF24; 
    color: white; 
    margin-top: 1vw; 
    padding: 0.7vw 1vw;
    border-radius: 6px; 
}

.btn-hero:hover{
    background-color: rgb(156, 156, 46);
}

/* Who Are We section */
.whoarewe {
    background-image: url('assets/images/slubuilding.png');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;  /* Make the section take up the full viewport height */
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; /* Align the content to the top */
    align-items: center;  /* Horizontally center the content */
    text-align: center; 
    padding-top: 40px; 
    padding-bottom: 40px; 
}

/* Content heading and paragraph */
.whoarewe .content {
    margin-bottom: 40px; 
}

.whoarewe h1 {
    font-size: 4em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: bold;
    color: rgba(0, 61, 165, 1);
}

.whoarewe p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;  /* Center the text */
    color: black;
}

/* Container for the cards */
.card-container {
    display: flex;
    justify-content: center;  /* Center the cards horizontally */
    align-items: flex-start;  /* Align cards to the top of the container */
    width: 80%;  
    max-width: 1200px;  /* Maximum width for the cards' container */
    gap: 10vh;
    margin-top: 15vh;  /* Add space from the top to lower the cards */
}

/* Individual cards */
.card {
    position: relative;  
    padding: 0;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    flex: 1 1 300px;  /* Cards grow and shrink but maintain a minimum width of 300px */
    text-align: center;
    min-height: 300px;  
    max-width: 360px; 
    overflow: hidden;  /* Prevent the image from overflowing */
}

/* Image inside the card */
.card img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;  /* Make the image take up the full width of the card */
    height: 100%;  /* Ensure the image fills the entire height */
    object-fit: cover; /* Make sure the image covers the entire area without stretching */
    border-radius: 10px; 
    z-index: -1;  
}

/* Flexbox Container for Scrollable News, Events & Job Oppurtunities*/
.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80vh; 
}

/* Scrollable Columns */
.scrollable {
    width: 30%; 
    height: 50%; 
    overflow-y: scroll; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #fafafa;
    margin-right: 10px;
}

.scrollable:last-child {
    margin-right: 0; /* Remove margin from the last column */
}

.scrollable h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: rgba(255, 178, 0, 1);
}

.scrollable p {
    margin-bottom: 10px;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/* footer section start */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: poppins;
}

#footer, #footer2 {
  background: #f7f7f7;
  padding: 3rem;
  padding-top: 7rem;
  padding-bottom: 80px;
  display: flex;                   /* Use flexbox for layout */
  justify-content: space-around;   /* Space out items */
  align-items: flex-start;         /* Align items at the top */
  text-align: center;              /* Center text within each item */
  flex-wrap: wrap;                 /* Allow wrapping for smaller screens */
  background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);

}

.logo-footer {
  max-width: 200px; /* Set the maximum width for the logo */
  height: auto;     /* Ensure the height adjusts automatically */
  margin: 0 auto;   /* Center the logo */
}

.social-links {
  display: flex;
  flex-direction: column;  /* Stack social links vertically */
  align-items: center;      /* Center social links horizontally */
}

.social-links h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.social-links img {
  padding-bottom: 25px;
}

.social-icons {
  display: flex;
  flex-direction: column;    /* Stack icons vertically */
  gap: 1rem;
  color: #777777;
}

.social-icons a {
  color: #777777;
}

.social-icons a:hover {
  color: #000;
}

.social-icons a i {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}

li {
  list-style: none;
}

.useful-link h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.useful-link img {
  padding-bottom: 15px;
}

.use-links {
  line-height: 32px;
}

.use-links li i {
  font-size: 14px;
  padding-right: 8px;
  color: #898989;
}

.use-links li a {
  color: #777777;
  font-size: 15px;
  font-weight: 500;
}

.use-links li a:hover {
  color: #000;
}

.address h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.address img {
  padding-bottom: 15px;
}

.address-links li a {
  color: #777777;
  font-size: 15px;
  font-weight: 500;
}

.address-links li i {
  font-size: 16px;
  padding-right: 8px;
  color: #82074a;
}

.address-links li i:nth-child(1) {
  padding-top: 9px;
}

.address-links .address1 {
  font-weight: 500;
  font-size: 15px;
  display: flex;
}

.address-links {
  line-height: 32px;
  color: #777777;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #003DA5;
  color: #fff;
  text-align: center;
}

.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}

a {
  text-decoration: none;
}

/* footer section end */
