/** 
Author: Escaño, Nichole Jhoy
Reference: ChatGPT
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Readex_Pro;
}


body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto;  /* Allow vertical scrolling if needed */
    scroll-behavior: smooth;
}


@font-face {
    font-family: Readex_Pro;
    src: url('../fonts/font-families/Readex_Pro/ReadexPro-Regular.ttf');
  }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 4vw;
    width: 100%;
    transition: top 0.1s ease;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

header img.slu-logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}
/* Remove sticky positioning to avoid conflict */
header.sticky {
    position: fixed;
    top: 0;
}
/* Header Separator */
.header-separator {
    position: relative;
    background-color: #003DA5;
    padding-bottom: 1.3vw;
    width: 100%;
    z-index: 101;
}

/* Search bar */
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input[type="text"] {
    padding: 6px 30px 6px 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 200px;
    position: relative;
    border-radius: 5px;
}

.search .search-icon {
    position: absolute;
    top: 50%;
    left: 13vw;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search .search-icon:hover {
    opacity: 0.7;
}

/* Sidebar Styling */
.main-content {
    display: flex;
    height: 100vh; 
}

aside {
    width: 350px;
    position: fixed;
    top: 3.7vw;
    background-color: #f4f4f4;
    padding: 1vw;
    height: calc(100vh - 4vw); 
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}


/* Content Area */
.content {
    flex: 1;
    margin-left: 350px; 
    padding: 20px;
    height: calc(100vh - 4vw); 
    background-color: #f9f9f9;
}

.profile {
    margin-top: 1.13vw;
    margin-bottom: 0.1vw;
    background-color: #fff;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-bg img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.profile-info {
    text-align: center;
    margin-top: -1vw;
}

.profile-pic {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 1vw;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* Sidebar Icon */
.sidebar-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 20px; 
    margin-left: 5px;
}

.name {
    font-size: 1.2vw;
    font-weight: bold;
}

.bio {
    font-size: 1vw;
    color: #777;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}

.stat-item {
    font-size: 1.0vw;
    text-align: center;
}

/* Sidebar Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    position: relative; 
    display: flex;
    align-items: center;
    margin: 1.05vw 0;
    padding: 0.1vw;
    transition: background-color 0.3s;
    padding-left: 1.5vw;
}

nav li.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 7px; 
    height: 100%;
    background-color: #FFB200;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.0vw; 
    font-weight: bold;
    margin-left: 0.4vw; 
    text-align: center;
}

nav a:hover {
    color: #003DA5;
}

/* Icon Styling */
.nav-icon {
    width: 25px; 
    height: 25px;
    object-fit: contain;
}

/* Profile dropdown styling */
.profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
  }
  
.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 320px;
    z-index: 1000;
  }
  
.dropdown-header {
    display: flex;
    align-items: center; 
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
  }
  
.dropdown-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px; 
    object-fit: cover;
  }
  
.dropdown-info {
    display: flex;
    flex-direction: column;
  }
  
.dropdown-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
.dropdown-info p {
    margin: 0;
    font-size: 13px;
    color: #6c757d;
  }
  
.dropdown-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.dropdown-links li {
    padding: 12px 16px;
  }
  
.dropdown-links li a {
    text-decoration: none;
    font-size: 16px;
    color: #212529;
    display: block;
    transition: background-color 0.3s;
  }
  
.dropdown-links li a:hover {
    background-color: #f8f9fa;
  }
  
.logout-btn {
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #f1f7ff;
    color: #0056b3;
    font-size: 16px; 
    font-weight: 600; 
    padding: 12px 24px; 
    border-radius: 8px; 
    cursor: pointer;
    text-decoration: none;
    width: 100%; 
    max-width: 300px; 
    box-sizing: border-box; 
    margin-left: 3%;
    margin-top: 5%;
}

.logout-btn:hover {
    background-color: #e0edff; 
}

.logout-icon {
    margin-right: 10px; 
    width: 20px; 
    height: 20px; 
}

/* News Details styling */
.container {
    margin-left: 350px; 
    padding: 20px;
    position: relative;
}

.back-button {
    padding: 10px;
    background-color: #f4f4f4;
    text-align: left;
}

.back-button a {
    text-decoration: none;
    font-size: 1.5em;
    color: #333;
}

.content-section {
    padding: 20px;
}

.content-section h1 {
    font-size: 3em;
    color: #ff9800;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.content-section p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}

.image-section {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.image-section img {
    width: 100%; 
    height: 300px;
    object-fit: cover; 
    display: block; 
    border-radius: 5px; 
}


/* Styling for individual search result items */
#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    margin-left: 0;
    position: absolute;  
    width: 15%;      
    top: 100%;          
    left: 2%;        
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Styling for individual search result items */
.search-result-item {
    padding: 8px;
    cursor: pointer;
    text-align: center;  
    background-color: #fff;  
    transition: background-color 0.3s ease; 
}

.search-result-item:hover {
    background-color: #f0f0f0;  
}

.search-result-item:active {
    background-color: #e0e0e0;  
}
