<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLU Alumina</title>
    <link href="../assets/css/AlumniDeleteAccount.css" rel="stylesheet">
    <link href="/../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Rendered Content  -->
    <div id="content-container"></div>

        <div class="delete-account-container">
            <h2>Delete account</h2>
            <p class="warning-text">We're sorry to see you go.</p>
            <p>Before you go...</p>
            <ul>
                <li>Take a backup of your data <a href="#">Here</a></li>
                <li>If you delete your account, you will lose all your data.</li>
            </ul>
        
            <div class="checkbox-container">
                <label>
                    <input type="checkbox" id="deleteCheckbox"> Yes, I'd like to delete my account
                </label>
            </div>
        
            <div class="button-container">
                <button class="keep-account-btn">Keep my account</button>
                <button class="delete-account-btn">Delete my account</button>
            </div>
        </div>
            <!-- Bootstrap JavaScript -->
  <script src="/../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
  <script src="../assets/js/handleRenderpages.js" defer> </script>
  <script src="../assets/js/handleHomefeed.js" defer>  </script>  
  <script src="../assets/js/handleFetch.js" async>  </script> 
</body>
</html>
