<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/managerSide.css" rel="stylesheet">
</head>
<body>

<div class="header-seperator"></div>
<header>
    <h1>
        <img src="../assets/images/Logo.png" alt="SLU Alumina Logo">
        <span>SLU Alumina</span>
    </h1>
    <nav>
        <a href="#home">Home</a>
        <a href="#whoarewe">Accounts</a>
        <a href="#alumnistories">Add Events</a>
        <a href="#news_events_job">Add Jobs</a>
    </nav>
    <a href="#" target="_blank" class="btn-logout">Logout</a>
</header>

</body>
</html>
